header{
    background-color: rgb(0, 0, 0);
    padding: 20px 0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}
nav {
    position: absolute;
    top: 110px;
    right:95px;
}
.caixa{
    position: relative;
    width:940px;
    margin: 0 auto;
}
body{
    background-color: rgb(255, 255, 255);
}
.produto-descriçao {
    color: black;
}
.produto-preço{
    color: rgb(0, 0, 0);
}
.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li {
    display:inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 2 2.5%;
    padding: 20px 20px;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 40px;
}

.produtos li:hover {
    border-color: rgb(179, 15, 15);
}



.produtos li:active{
    border-color: blue;
}



.produtos li:hover h2 {
    font-size: 34px;
}


.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}


.produtos-descricao {
    color: rgb(230, 41, 41);
    font-size: 18px;
}


.produtos-preco {
    color: rgb(224, 208, 208);
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}


 footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 50px 0;
 }  vertical-aligin:middle

 .copyright {
    color: blue;
    font-size: 13px;
    margin: 80px 80 80;
 }