body {
	background: #CCCCCC
}
#banner { 
	width: 100%;

{
h1 {
	text-align: center;
border: 5px solid #5e2222; 
padding:20px;
}
em strong {
 color: #151a6a;

}

p{
 text-align: center;

}

em strong{


	 text-align: center;
